 <nav class="navbar header navbar-expand-lg navbar-light bg-light pt-3 pb-3">
  <a class="navbar-brand col-lg-8 col-md-6 col-sm-6" href="#">
    <img style="border-radius: 50%;" src="../../assets/pawan.jpeg" class="col-1" alt=""><span style="font-weight: bold;">PAWAN KUMAR SHARMA</span>
  </a>
  <button class="navbar-toggler col-lg-8 col-md-4 col-sm-4" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">Home</span>
  </button>

  <div class="collapse navbar-collapse col-lg-4 col-md-6 col-sm-6" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex justify-content-between col">
      <li class="nav-item col">
        <a class="nav-link" href="#" [ngClass]="{'active': activeLink === 'home'}"
        (click)="setActiveLink('home')">HOME <span class="sr-only"></span></a>
      </li>
      <li class="nav-item col">
        <a class="nav-link" href="#about" [ngClass]="{'active': activeLink === 'about'}"
        (click)="setActiveLink('about')">ABOUT</a>
      </li>
      <li class="nav-item col">
        <a class="nav-link" href="#projects"
        [ngClass]="{'active': activeLink === 'projects'}"
        (click)="setActiveLink('projects')">PROJECTS</a>
      </li>
      <li class="nav-item col">
        <a class="nav-link disabled" href="#contact"
        [ngClass]="{'active': activeLink === 'contact'}"
        (click)="setActiveLink('contact')">CONTACT</a>
      </li>
    </ul>

  </div>
</nav>


<section class="home-hero">
<div class="home-hero__content">
  <h1 class="heading-primary">HEY, I'M PAWAN KUMAR SHARMA
  </h1>
  <div class="home-hero__info">
    <p class="text-primary">
      An IITian & Result-Oriented Web Developer building and managing Websites and
      Web Applications that leads to the success of the overall product
    </p>
  </div>
  <div class="home-hero__cta">
    <a href="./#projects" class="btn col-lg-2 p-3 col-md-2 col-sm-4 btn--bg">Projects</a>
  </div>
</div>

</section>
<section id="about" class="about sec-pad">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-med">
      <span class="heading-sec__main">About Me</span>
      <span class="heading-sec__sub">
        Here you will find more information about me, what I do, and my
        current skills mostly in terms of programming and technology
      </span>
    </h2>
    <div class="about__content">
      <div class="about__content-main">
        <h3 class="about__content-title">Get to know me!</h3>
        <div class="about__content-details">
          <p class="about__content-details-para">
            I'm an <strong>IITian Focused Full Web Stack Developer</strong> building
            and managing the Front-end of Websites and Web Applications that
            leads to the success of the overall product. Check out some of
            my work in the <strong>Projects</strong> section.
          </p>
          <p class="about__content-details-para">
            I also like sharing content related to the stuff that I have
            learned over the years in <strong>Web Development</strong> so it
            can help other people of the Dev Community. Feel free to Connect
            or Follow me on my
            <a rel="noreferrer" href="https://www.linkedin.com/in/pawan-kumar-sharma-b5a72a288/" target="_blank">Linkedin</a>
            and
            <a rel="noreferrer" href="https://github.com/pawan999333" target="_blank">GitHub</a>
            where I upload useful content related to Web Development and
            Programming
          </p>
          <p class="about__content-details-para">
            I'm open to <strong>Job</strong> opportunities where I can
            contribute, learn and grow. If you have a good opportunity that
            matches my skills and experience then don't hesitate to
            <strong>contact</strong> me.
          </p>
        </div>
        <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr">Contact</a>
      </div>
      <div class="about__content-skills text-center">
        <h3 class="about__content-title">My Skills</h3>
        <div class="skills d-flex justify-content-center">
          <div class="skills__skill">HTML</div>
          <div class="skills__skill">CSS</div>
          <div class="skills__skill">JavaScript</div>
          <div class="skills__skill">Angular</div>
          <div class="skills__skill">Node JS</div>
          <div class="skills__skill">MySQL</div>
          <div class="skills__skill">Angular Material</div>
          <div class="skills__skill">GIT</div>
          <div class="skills__skill">Bootstrap</div>
          <div class="skills__skill">Cypress</div>
          <div class="skills__skill">Linux</div>
          <div class="skills__skill">Terminal</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="projects" class="projects sec-pad">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-bg">
      <span class="heading-sec__main">Projects</span>
      <span class="heading-sec__sub">
        Here you will find some of the personal and clients projects that I
        created with each project containing its own case study
      </span>
    </h2>

    <div class="projects__content">
      <div class="projects__row">
        <div class="projects__row-img-cont d-flex justify-content-center align-items-center">
          <img src="./assets/jpeg/screenplay-converter.png" alt="Software Screenshot" class="projects__row-img" loading="lazy">
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title">Screenplay Converter </h3>
          <p class="projects__row-content-desc">

            Developed a screenplay converter module to export/import PDF, TXT, and FDX formats, enhancing compatibility and efficiency in screenplay document management using Quill in Angular.
          <a href="https://studiovity.com/screenplay-converter">https://studiovity.com/screenplay-converter</a>
            </p>
          <!-- <a class="btn btn--med btn--theme dynamicBgClr" href="/project-1" target="_blank">Case Study</a> -->
        </div>
      </div>
      <div class="projects__row">
        <div class="projects__row-img-cont d-flex justify-content-center align-items-center">
          <img src="./assets/jpeg/scraping.png" alt="Software Screenshot" class="projects__row-img" loading="lazy">
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title">LinkedIn Web Scrapping</h3>
          <p class="projects__row-content-desc">
            Developed a web scraping application using Python, Beautiful Soup, and Selenium for LinkedIn, enabling comprehensive data extraction for both companies and users.
          <a href="https://github.com/pawan999333/Web-Scraping/tree/main">https://github.com/pawan999333/Web-Scraping/tree/main</a>
          </p>
          <!-- <a class="btn btn--med btn--theme dynamicBgClr" href="/project-2" target="_blank">Case Study</a> -->
        </div>
      </div>
      <div class="projects__row">
        <div class="projects__row-img-cont align-items-center">
          <img src="./assets/jpeg/boreal-coffee-clone.jpeg" alt="Software Screenshot" class="projects__row-img" loading="lazy">
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title">E-Commerce Project</h3>
          <p class="projects__row-content-desc">
            Created a responsive e-commerce platform utilizing Angular and integrated JSON-server for efficient API data retrieval, ensuring seamless user interactions and robust.
            <a href="https://github.com/pawan999333/
            Ecomm_Project_Using_Angular">
              https://github.com/pawan999333/
              Ecomm_Project_Using_Angular</a>
          </p>
          <!-- <a class="btn btn--med btn--theme dynamicBgClr" href="/project-3" target="_blank">Case Study</a> -->
        </div>
      </div>
      <div class="projects__row">
        <div class="projects__row-img-cont align-items-center">
          <img src="./assets/jpeg/crown-template.jpeg" alt="Software Screenshot" class="projects__row-img" loading="lazy">
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title">Full-Stack CRUD App</h3>
          <p class="projects__row-content-desc">
            Designed and implemented a comprehensive CRUD application, seamlessly integrating frontend and backend technologies. Utilized Node.js, EJS, HTML, and Bootstrap to craft an intuitive user interface, with MySQL serving as the backbone for robust database management.
<a href="https://github.com/pawan999333/Login-Register-Form-Data-Crud">https://github.com/pawan999333/Login-Register-Form-Data-Crud</a>
          </p>
          <!-- <a class="btn btn--med btn--theme dynamicBgClr" href="/project-4" target="_blank">Case Study</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contact sec-pad dynamicBg">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-med">
      <span class="heading-sec__main heading-sec__main--lt">Contact</span>
      <span class="heading-sec__sub heading-sec__sub--lt">
        Feel free to Contact me by submitting the form below and I will get
        back to you as soon as possible
      </span>
    </h2>
    <div class="contact__form-container">
      <form action="#" class="contact__form" method="post"><input type="hidden" name="form-name" value="form 1">
        <div class="contact__form-field">
          <label class="contact__form-label" for="name">Name</label>
          <input required="" placeholder="Enter Your Name" type="text" class="contact__form-input" name="name" id="name">
        </div>
        <div class="contact__form-field">
          <label class="contact__form-label" for="email">Email</label>
          <input required="" placeholder="Enter Your Email" type="email" class="contact__form-input" name="email" id="email">
        </div>
        <div class="contact__form-field">
          <label class="contact__form-label" for="message">Message</label>
          <textarea required="" cols="30" rows="10" class="contact__form-input" placeholder="Enter Your Message" name="message" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn--theme contact__btn">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
<footer class="main-footer">
  <div class="main-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
          <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/pawan-kumar-sharma-b5a72a288/">
            <img class="main-footer__icon" src="./assets/png/linkedin-ico.png" alt="Pawan Sharma Linkedin Profile">
          </a>
          <a target="_blank" rel="noreferrer" href="https://github.com/pawan999333">
            <img class="main-footer__icon" src="./assets/png/github-ico.png" alt="Pawan Sharma Github Profile">
          </a>
          <a target="_blank" rel="noreferrer"  href="mailto:pawansharma19feb@gmail.com">
            <img class="main-footer__icon" src="./assets/png/gmail.png" alt="Pawan Sharma Gmail Profile">
          </a>
          <a target="_blank" rel="noreferrer" href="https://wa.me/8595877157">
            <img class="main-footer__icon" src="./assets/png/contact.png" alt="WhatsApp Me">
        </a>

          <!-- <a target="_blank" rel="noreferrer" href="https://dev.to/rammcodes">
            <img class="main-footer__icon" src="./assets/png/blog-ico.png" alt="RammCodes DEV.to Blog Profile">
          </a>
          <a target="_blank" rel="noreferrer" href="https://www.youtube.com/channel/UCIb8_J9lqtiWGMIOdQ5DVsg">
            <img class="main-footer__icon main-footer__icon--mr-none" src="./assets/png/yt-ico.png" alt="RammCodes Youtube Channel">
          </a> -->
        </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h2 class="heading heading-sm text-lt">Pawan Kumar Sharma</h2>
        <p class="main-footer__short-desc">
          An IITian and focused Web Developer building the Frontend of Websites
          and Web Applications that leads to the success of the overall
          product
        </p>
      </div>
    </div>

    <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
    <div class="main-footer__lower">
      © Copyright
      <script>
        document.write(new Date().getFullYear());
      </script>2024
      . Made by
      <a rel="noreferrer" target="_blank" href="https://666a773b3bf1508b6df2b1ad--euphonious-fairy-8828de.netlify.app/">Pawan Kumar Sharma</a>
    </div>
  </div>
</footer>
